<div class="container">
  {{#if loading}}
    <div class="spinner-border text-primary" role="status" style="display:block;margin-left:auto;margin-right:auto">
      <span class="sr-only">Загрузка...</span>
    </div>
  {{/if}}

  {{#if list}}
    <div class="row">
      {{#list}}
        <div class="card col">
          <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">Цена: {{price}}<br>Количество: {{quantity}}</p>
          </div>
        </div>
      {{/list}}
    </div>

    <button type="button" class="btn btn-primary" data-id="about" style="display:block;margin:auto;">О нас</button>
  {{/if}}
</div>
